{{!--
    Renders the documentation for a symbol in a format that is coherent for all symbol kinds.

    This partial conditionally checks if each documentation section exists and if a symbol kind
    does not provide a specific kind of documentation section, that section is not rendered.

    Expected Context: {Root Context Object}

    Example:
        {{> symbol }}

    See: https://mrdocs.com/docs/mrdocs/develop/generators.html#dom_reference
--}}
{{#unless @root.config.multipage }}
{{! Single page documentation: symbol is not available to the wrapper but it's available here }}
{{! Include the symbol title at a higher level }}
<div>
<div>
{{#> markup/h level=2 id=symbol.anchor }}{{> symbol/qualified-name symbol }}{{/markup/h}}
{{~/unless}}
{{! Brief }}
{{#if symbol.doc.brief}}
<div>
{{> doc/block/brief symbol.doc.brief }}

</div>
{{/if}}
{{#unless @root.config.multipage }}
</div>
{{/unless}}
{{! Synopsis }}
{{#unless (eq symbol.kind "namespace")}}
<div>
{{#> markup/dynamic-level-h level=2 }}{{#if (ne symbol.kind "overloads")}}Synopsis{{else}}Synopses{{/if}}{{/markup/dynamic-level-h~}}
<div>
{{>location/source dcl=(primary_location symbol)}}
</div>
{{> symbol/signatures symbol }}

</div>
{{/unless}}
{{! Base classes }}
{{#if (any_of_by symbol.bases "isPublic")}}
<div>
{{#> markup/dynamic-level-h }}Base Classes{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each (filter_by symbol.bases "isPublic")}}
<tr><td>{{#>markup/code}}{{> type/declarator type }}{{/markup/code}}</td><td>{{> doc/block/inline-brief type.name.symbol.doc.brief }}</td></tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{! Protected Base classes }}
{{#if (any_of_by symbol.bases "isProtected")}}
<div>
{{#> markup/dynamic-level-h }}Protected Base Classes{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each (filter_by symbol.bases "isProtected")}}
<tr><td>{{#>markup/code}}{{> type/declarator type }}{{/markup/code}}</td><td>{{> doc/block/inline-brief type.name.symbol.doc.brief }}</td></tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{! Members }}
{{! Record interface }}
{{#if (eq symbol.kind "record")}}
{{#with symbol.interface}}
{{>symbol/tranche tranche=public label="" is-namespace=false}}

{{>symbol/tranche tranche=protected label="Protected" is-namespace=false}}

{{>symbol/tranche tranche=private label="Private" is-namespace=false}}
{{/with}}
{{! Namespace members }}
{{else if (eq symbol.kind "namespace")}}
{{>symbol/tranche tranche=symbol.members label="" is-namespace=true}}
{{! Enum members }}
{{else if (eq symbol.kind "enum")}}
{{>symbol/members-table members=symbol.constants title="Members"}}
{{/if}}
{{! Friends }}
{{#if symbol.friends}}
<div>
{{#> markup/dynamic-level-h }}Friends{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.friends }}
<tr>
{{#if symbol}}
<td>{{#>markup/code}}{{> symbol/name symbol }}{{/markup/code}}</td>
<td>{{> doc/block/inline-brief symbol.doc.brief }}</td>
{{else}}
<td>{{#>markup/code}}{{> type/declarator type }}{{/markup/code}}</td>
<td></td>
{{/if}}
</tr>
{{/each}}
|===
</tbody>
</table>
</div>
{{/if}}
{{! Using directives }}
{{#if symbol.usingDirectives}}
<div>
{{>symbol/members-table members=symbol.usingDirectives title="Using Namespace Directives"}}

</div>

{{/if}}
{{! Related symbols }}
{{#if symbol.doc.related}}
<div>
{{#> markup/dynamic-level-h }}Non-Member Functions{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.doc.related}}
<tr><td>{{> doc/inline/reference }}</td><td>{{> doc/block/inline-brief symbol.doc.brief }}</td></tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{! Derived classes }}
{{#if symbol.derived}}
<div>
{{#> markup/dynamic-level-h }}Derived Classes{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.derived}}
<tr><td>{{#if url~}}
    {{#>markup/a href=url}}{{#>markup/code}}{{> type/name-info-text . }}{{/markup/code}}{{/markup/a}}
    {{else~}}
    {{> type/name-info-text . }}
{{/if}}</td><td>{{> doc/block/inline-brief doc.brief }}</td></tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{! Description }}
{{#if symbol.doc.description}}
{{#unless traversing-global-namespace}}
<div>
{{#unless (eq (lookup (first symbol.doc.description) "kind") "heading") }}
{{#> markup/dynamic-level-h level=2 }}Description{{/markup/dynamic-level-h~}}
{{~/unless}}
{{> doc/block/document symbol.doc.description }}
</div>
{{/unless}}
{{/if}}
{{! Using symbols }}
{{#if symbol.shadows}}
<div>
{{#> markup/dynamic-level-h level=2 }}Introduced Symbols{{/markup/dynamic-level-h~}}
{{#if (any_of_by symbol.shadows "doc")}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.shadows}}
<tr>
<td>{{> symbol/qualified-name . }}</td>
<td>{{> doc/block/inline-brief doc.brief }}</td>
</tr>
{{/each}}
</tbody>
</table>
{{else}}
<table>
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
{{#each symbol.shadows}}
<tr>
<td>{{> symbol/qualified-name . }}</td>
</tr>
{{/each}}
</tbody>
</table>
{{/if}}
</div>

{{/if}}
{{! Exceptions }}
{{#if symbol.doc.exceptions}}
<div>
{{#> markup/dynamic-level-h level=2 }}Exceptions{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Thrown on</th>
</tr>
</thead>
<tbody>
{{#each symbol.doc.exceptions}}
<tr>
<td>{{> doc/inline/reference exception}}</td>
<td>{{> doc/block .}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{! Return value }}
{{#if symbol.doc.returns}}
<div>
{{#> markup/dynamic-level-h level=2 }}Return Value{{/markup/dynamic-level-h~}}
{{#if (eq (size symbol.doc.returns) 1)}}
{{> doc/block/returns symbol.doc.returns.[0]}}

{{else}}
<ul>
{{#each symbol.doc.returns}}
<li>{{> doc/block/returns .}}</li>
{{/each}}
</ul>
{{/if}}
</div>
{{/if}}
{{! Template Parameters }}
{{#if symbol.doc.tparams}}
<div>
{{#> markup/dynamic-level-h level=2 }}Template Parameters{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.doc.tparams}}
<tr>
<td><strong>{{name}}</strong></td>
<td>{{>doc/block .}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{! Parameters }}
{{#if symbol.doc.params}}
<div>
{{#> markup/dynamic-level-h level=2 }}Parameters{{/markup/dynamic-level-h~}}
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.doc.params}}
<tr>
<td><strong>{{name}}</strong>{{#if direction}} [{{direction}}]{{/if}}</td>
<td>{{>doc/block .}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{! Preconditions }}
{{#if symbol.doc.preconditions}}
<div>
{{#> markup/dynamic-level-h level=2 }}Preconditions{{/markup/dynamic-level-h~}}
<ul>
{{#each symbol.doc.preconditions}}
<li>{{>doc/block .}}</li>
{{/each}}
</ul>
</div>
{{/if}}
{{! Postconditions }}
{{#if symbol.doc.postconditions}}
<div>
{{#> markup/dynamic-level-h level=2 }}Postconditions{{/markup/dynamic-level-h~}}
<ul>
{{#each symbol.doc.postconditions}}
<li>{{>doc/block .}}</li>
{{/each}}
</ul>
</div>
{{/if}}
{{! See Also }}
{{#if symbol.doc.sees}}
<div>
{{#> markup/dynamic-level-h level=2 }}See Also{{/markup/dynamic-level-h~}}
{{#each symbol.doc.sees}}
<p>{{>doc/block .}}</p>
{{/each}}
</div>
{{/if}}
{{! Recursive index for multipage global namespace }}
{{#if (and (eq symbol.kind "namespace") @root.config.multipage @root.config.global-namespace-index (eq @root.symbol.kind "namespace") (not @root.symbol.name) (not @root.symbol.parent)) }}
{{#each symbol.members.namespaces}}
{{#if isRegular}}
{{#> markup/dynamic-level-h id=null }}{{> symbol/qualified-name . }} namespace{{/markup/dynamic-level-h~}}
{{> symbol symbol=. id=null traversing-global-namespace=true }}
{{/if}}
{{/each}}
{{/if}}
{{#unless @root.config.multipage }}
</div>
{{/unless}}
